<div class="container">
  <div class="row">
    <div class="col-sm">
      <h2>
        30-Days Risk-Free Money Back Guarantee
      </h2>
      <p>
        Your first 30 days are risk-free. What does this mean? If in the first 30 days of your Early-Bird membership you decide that LIVE WELL Exercise Clinic is not the right fit for you, then no problem. We will release you from the remainder of your membership commitment with us provide you with a full refund. We want you to Find the Joy in being part of the LIVE WELL family and be sure that you have found your people.
      </p>

      <p>
        We are confident you will love the LIVE WELL experience, but we understand that you want to be just as confident as we are - and sometimes that takes time. That is why the first 30 days are risk-free. Rest assured that that we have been helping thousands of people transform their health and lifestyle successfully since 2011!
      </p>
    </div>
  </div>
</div>

<h4>Please enter your info</h4>

<form id="leadForm" action="/leads" method="POST">
  <fieldset>
    <div class="form-group">
      <label for="first_name">First name</label>
      <input type="first_name" class="form-control" name="first_name" aria-describedby="first_name" required>
    </div>

    <div class="form-group">
      <label for="last_name">Last name</label>
      <input type="last_name" class="form-control" name="last_name" aria-describedby="last_name" required>
    </div>

    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" name="email" aria-describedby="email" required>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>
